*.c text working-tree-encoding=UTF-8 eol=crlf
*.h text working-tree-encoding=UTF-8 eol=crlf
*.cpp text working-tree-encoding=UTF-8 eol=crlf

# Отключить преобразование для самого .gitattributes
.gitattributes -text